<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    
    <title>Alex Jones' House of Reason -- Contact</title>

    <!-- Bootstrap core CSS -->
   
    {% include 'main/header.html' %}

      <div class="row marketing">
        <div class="col-lg-6">
            <h3>Contact</h3>Don't contact us. If you throw me five bucks, we will follow your friend and give you the handle so you can follow. There will be a paypal button soon. 
         <br><br><br><br> 
        </div>
      </div>
      <br><br><br><br>  
      <footer class="footer">
        <p>Established July 2017</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
