    {% load static %}

<html lang="en">
  
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'main/bootstrap.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{% url 'home:index'%}">Home</a></li>
            <li role="presentation"><a href="{% url 'home:about'%}">About</a></li>
            <li role="presentation"><a href="{% url 'home:contact'%}">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">a formal mess-around... an exercise</h3>
      </div>

      <div class="jumbotron">
        <h1>Alex Jones' House of Reason</h1>
        <h2>WE ARE OPEN WHILE UNDER CONSTRUCTION</h2>
        <p class="lead">Where your friend's twitter is adorned with the wisdom of Alex Jones </p>
        <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>-->
      </div> 